.page-template-terms-and-conditions {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .page-template-terms-and-conditions .wp-site-blocks {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .page-template-terms-and-conditions .wp-site-blocks {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .page-template-terms-and-conditions .wp-site-blocks {
        width: 90%;
    }
}