<!-- wp:heading -->
<h2 class="wp-block-heading">TÉRMINOS Y CONDICIONES</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Por favor, lee cuidadosamente estos términos y condiciones antes de utilizar los servicios ofrecidos por LWS. Al utilizar nuestros servicios, aceptas estar legalmente vinculado por estos términos y condiciones.</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><!-- wp:list-item -->
<li><strong>Servicios ofrecidos:</strong><br><br>LWS ofrece una variedad de servicios relacionados con el diseño web, desarrollo web, marketing digital, gestión de redes sociales y otros servicios relacionados. Todos los servicios están sujetos a los términos y condiciones establecidos en este documento, así como a cualquier acuerdo adicional que puedas celebrar con nosotros.<br></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Propiedad intelectual:</strong><br><br>Todos los derechos de propiedad intelectual relacionados con nuestros servicios, incluyendo pero no limitado a derechos de autor, marcas comerciales, nombres comerciales y derechos de diseño, son propiedad de LWS. No está permitido utilizar, copiar o distribuir nuestros servicios sin nuestro consentimiento previo por escrito.<br></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Responsabilidad del usuario:</strong><br><br>Eres responsable de garantizar que cualquier información que nos proporciones sea precisa, completa y actualizada. Además, aceptas utilizar nuestros servicios de manera legal y ética, y no realizar ninguna actividad que pueda dañar nuestra reputación o la de nuestros clientes.<br></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Limitación de responsabilidad:</strong><br><br>En la máxima medida permitida por la ley, LWS no será responsable de ningún daño directo, indirecto, incidental, especial, consecuente o punitivo que surja del uso o la imposibilidad de utilizar nuestros servicios.<br></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Modificaciones:</strong><br><br>Nos reservamos el derecho de modificar o eliminar cualquier parte de estos términos y condiciones en cualquier momento y a nuestra sola discreción. Cualquier cambio entrará en vigencia inmediatamente después de su publicación en nuestro sitio web.<br></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Ley aplicable:</strong><br><br>Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del estado de Jalisco donde LWS tiene su sede principal.<br></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Contacto:</strong><br><br>Si tienes alguna pregunta sobre estos términos y condiciones, puedes ponerte en contacto con nosotros a través de [correo electrónico / número de teléfono / dirección postal].</li>
<!-- /wp:list-item --></ol>
<!-- /wp:list -->